<div class="col-lg-8 col-lg-offset-2">
 <form ng-submit="slate_ctrl.newSlate()">
  <h2>NATIONAL ELECTIONS</h2>
  <h3>US PRESIDENT</h3>
    <input type="text" ng-model="slate_ctrl.slate.president" placeholder="President"></input>
    <input type="text" ng-model="slate_ctrl.slate.president_reasons" placeholder="REASONS"></input><br>
    <h3>US CONGRESS</h3>
    <input type="text" ng-model="slate_ctrl.slate.us_senate" placeholder="US Senate"></input>
    <input type="text" ng-model="slate_ctrl.slate.us_senate_reasons" placeholder="REASONS"></input><br>
    <input type="text" ng-model="slate_ctrl.slate.us_congress" placeholder="US Congress"></input>
    <input type="text" ng-model="slate_ctrl.slate.us_congress_reasons" placeholder="REASONS"></input><br>
    <h3>STATE REPRESENTATIVES</h3>
    <input type="text" ng-model="slate_ctrl.slate.nv_senate" placeholder="NV Senate"></input>
    <input type="text" ng-model="slate_ctrl.slate.nv_senate_reasons" placeholder="REASONS"></input><br>
    <input type="text" ng-model="slate_ctrl.slate.nv_assembly" placeholder="NV Assembly"></input>
    <input type="text" ng-model="slate_ctrl.slate.nv_assembly_reasons" placeholder="REASONS"></input><br>
    <h2>LOCAL RACES</h2>
    <h3>CITY COUNCIL</h3>
    <input type="text" ng-model="slate_ctrl.slate.city_council1" placeholder="City Council1"></input>
    <input type="text" ng-model="slate_ctrl.slate.city_council1_reasons" placeholder="REASONS"></input><br>
    <input type="text" ng-model="slate_ctrl.slate.city_council2" placeholder="City Council2"></input>
    <input type="text" ng-model="slate_ctrl.slate.city_council2_reasons" placeholder="REASONS"></input><br>
    <h3>Judges</h3>
    <input type="text" ng-model="slate_ctrl.slate.judge1" placeholder="Judge1"></input>
    <input type="text" ng-model="slate_ctrl.slate.judge1_reasons" placeholder="REASONS"></input><br>
    <input type="text" ng-model="slate_ctrl.slate.judge2" placeholder="Judge2"></input>
    <input type="text" ng-model="slate_ctrl.slate.judge2_reasons" placeholder="REASONS"></input><br>
    <input type="text" ng-model="slate_ctrl.slate.judge3" placeholder="Judge3"></input>
    <input type="text" ng-model="slate_ctrl.slate.judge3_reasons" placeholder="REASONS"></input><br>
    <h2>ISSUES <span class="add-issue-button" ng-click="slate_ctrl.addIssue()">+</span></h2>
    <div ng-repeat="issue in slate_ctrl.slate.issues">
      <input type="hidden" ng-model="issue.slate_id"></input>
      <input type="text" ng-model="issue.name" placeholder="Issue" required="required"></input>
      <input type="text" ng-model="issue.reasons" placeholder="REASONS" required="required"></input>
      <span class="remove-issue-button" ng-click="slate_ctrl.removeIssue($index)">x</span>
      <br>
    </div>


    <button type="submit">SAVE</button>
</form>
</div>
